---
import Footer from "../components/Footer.astro";
import BaseHead from "../components/head/BaseHead.astro";
import type { SvgFile } from "../components/InlineSvg.astro";
import InlineSvg from "../components/InlineSvg.astro";
import Navigation from "../components/Navigation.astro";

const title = "Home";
const description = "Zach Morrissey, Software Engineer. Seattle, WA.";

const sections: Array<{
  name: string;
  href: string;
  tagline: string;
  svg: SvgFile;
}> = [
  {
    name: "Blog",
    href: "/blog",
    tagline: "",
    svg: "/src/svg/blog-logo.svg",
  },
  {
    name: "Recipes",
    href: "/recipes",
    tagline: "",
    svg: "/src/svg/recipes-logo.svg",
  },
  {
    name: "About",
    href: "/about",
    tagline: "",
    svg: "/src/svg/about-logo.svg",
  },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Navigation />

    <main>
      <section class="hero">
        <div class="container">
          <div class="is-hidden-tablet">
            <InlineSvg
              file={"/src/svg/home-logo-scribble-mobile.svg"}
              className="hero-badge-mobile"
            />
          </div>
          <div class="is-hidden-mobile">
            <InlineSvg
              file={"/src/svg/home-logo-scribble.svg"}
              className="hero-badge"
            />
          </div>
        </div>
      </section>
      <section>
        <div class="columns home-columns">
          {
            sections.map(({ href, svg, name, tagline }) => {
              return (
                <div class="column is-3-desktop is-4-tablet-only">
                  <a href={href} class="home-link">
                    <InlineSvg file={svg} className="column-logo" />
                    <InlineSvg
                      file={"/src/svg/diamonds-dark.svg"}
                      className="hero-diamonds"
                    />
                    <h2 class="home-title">{name}</h2>
                  </a>
                  <p>{tagline}</p>
                </div>
              );
            })
          }
        </div>
      </section>
    </main>
    <Footer />
    <style>
      section:where(.hero) {
        margin-top: 1.5rem;
      }
    </style>
  </body>
</html>
