---
import type { CollectionEntry } from "astro:content";

import blogPreviewLink from "@src/svg/blog-preview-link.svg?raw";
import diamonds from "@src/svg/diamonds.svg?raw";
import { contactInfo } from "../consts";
import { Figure } from "./app/Figure";

// eslint-disable-next-line @typescript-eslint/no-unused-vars
type Props = Pick<
  CollectionEntry<"blog">["data"],
  "title" | "publishDate" | "description"
> & { slug: string };

const { title, publishDate, description, slug } = Astro.props;
const url = `/blog/${slug}`;
---

<div class="blog-preview">
  <h2>
    <a class="blog-preview-title" href={url}>
      {title}
    </a>
  </h2>
  <p class="meta">
    written by
    <a href={contactInfo.twitterUrl}>
      {contactInfo.authorName}
    </a>
    on {publishDate.toLocaleDateString()}
  </p>
  <p>
    <Figure svg={diamonds} className={"hero-diamonds"} />
  </p>
  <p class="blog-preview-description">{description}</p>
  <div class="blog-preview-link-holder">
    <a href={url}>Read More</a>
    <a href={url}>
      <Figure svg={blogPreviewLink} className={"blog-preview-link"} />
    </a>
  </div>
</div>
<style lang="scss">
  @use "bulma/sass/utilities/mixins.sass" as mixins;

  .blog-preview {
    margin-bottom: 8rem;
  }

  .blog-preview-title {
    font-family: var(--heroFonts);
    font-weight: normal;
    font-size: 3rem;
    line-height: 1.25;
    color: var(--titleTextColor);
    word-break: break-word;
  }

  .blog-preview-description {
    font-size: 1.25rem;
  }

  @include mixins.mobile {
    .blog-preview-title {
      font-size: 2rem;
      line-height: 1.125;
    }
    .blog-preview-description {
      font-size: 1rem;
    }
  }

  .blog-preview-link-holder {
    margin-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    a {
      color: var(--textColor);
      margin: auto 0.25rem;
      font-family: var(--heroFonts);
      font-size: 1.25rem;
    }

    .blog-preview-link {
      height: 2rem;
      max-width: 7rem;
      margin: 1rem 0rem;
    }
  }
</style>
