---
/**
 * Full width hero text.
 */
export interface Props {
  /** Main hero text. */
  title: string;
  /** Subtitle text below the main hero text. */
  subtitle?: string;
  /** Publish date, if this is datestamped content. */
  publishDate?: Date;
}

import { contactInfo } from "../consts";
import InlineSvg from "./InlineSvg.astro";

const { title, subtitle, publishDate } = Astro.props;
---

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{title}</h1>
      {subtitle !== undefined && <h2 class="subtitle">{subtitle}</h2>}
      {
        publishDate && (
          <p class="meta">
            written by
            <a href={contactInfo.twitterUrl}>{contactInfo.authorName}</a>
            on {publishDate.toLocaleDateString()}
          </p>
        )
      }
      <InlineSvg
        file={"/src/svg/diamonds-dark.svg"}
        className={"hero-diamonds"}
      />
    </div>
  </div>
</section>
<style lang="scss">
  @use "../../node_modules/bulma/sass/utilities/mixins.sass" as mixins;
  .hero {
    margin: 1.5rem 0rem;

    .hero-body {
      padding: 0rem;

      div {
        text-align: center;
      }

      .container {
        @include mixins.touch {
          h1 {
            font-size: 3.5rem;
          }

          h2 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
</style>
