---
import { siteInfo, contactInfo } from "../consts";
import InlineSVG from "./InlineSvg.astro";

type NavIcon = {
  url: string;
  alt: string;
  icon: string;
};

type NavLink = {
  url: string;
  name: string;
};

export const navIcons: Array<NavIcon> = [
  {
    icon: "icon-linkedin-square",
    alt: "View my linkedin profile.",
    url: contactInfo.LinkedInUrl,
  },
  {
    icon: "icon-github",
    alt: "Check out my github.",
    url: contactInfo.githubUrl,
  },
  {
    icon: "icon-twitter",
    alt: "Check out my sparsely used Twitter account.",
    url: contactInfo.twitterUrl,
  },
];

const navLinks: Array<NavLink> = [
  { url: "/", name: "Home" },
  { url: "/blog", name: "Blog" },
  { url: "/recipes", name: "Recipes" },
  { url: "/about", name: "About" },
];
---

<nav class="navbar" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href={siteInfo.baseUrl}>
      <InlineSVG file={"/src/svg/navbar-logo.svg"} className="logo-img" />
    </a>
    <a class="navbar-item" href="/">
      <div id="logo-text">{siteInfo.title}</div>
    </a>
    <span class="navbar-burger" id="navbar-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      {
        navIcons.map(({ alt, icon, url }) => (
          <a class="navbar-item is-hidden-mobile" href={url}>
            <span class={icon} title={alt} />
          </a>
        ))
      }
      {
        navLinks.map(({ url, name }) => (
          <a class="navbar-item is-tab" href={url}>
            {name}
          </a>
        ))
      }
    </div>
  </div>
</nav>
