---
import type { CollectionEntry } from "astro:content";

type Props = Pick<
  CollectionEntry<"recipes">["data"],
  "title" | "kingdom" | "category" | "description" | "publishDate"
> & { slug: string };

// recipe grid variables
const { slug, title, kingdom, category, publishDate } = Astro.props;
const url = `/recipes/${slug}`;
---

<div class="card recipe-preview">
  <img src="./placeholder.png" />
  <div class="recipe-preview-content">
    <a href={url}>{title}</a>
    <p class="classification">{kingdom}{" > "}{category}</p>
    <p class="date">
      {
        publishDate.toLocaleDateString("en-US", {
          month: "short",
          day: "numeric",
          year: "numeric",
        })
      }
    </p>
  </div>
</div>
<style lang="scss">
  a {
    font-size: 2rem;
    color: var(--titleTextColor);
    display: block;
    font-family: var(--heroFonts);
  }

  .classification {
    margin-bottom: 0.5rem;
    color: var(--textColorLowContrast);
  }

  .description {
    color: var(--subtitleTextColor);
    font-size: large;
    margin-bottom: 1rem;
  }

  .date {
    font-size: small;
    color: var(--accent2Color);
  }

  hr {
    margin: 0 0 1rem;
    height: 0.125rem;
    background-color: var(--accent4Color);
  }

  .recipe-preview-content {
    padding: 1rem;
    border: 1px solid var(--backgroundAccentColor);
    border-top: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .recipe-preview {
    background: var(--backgroundColor);
    box-shadow: none;
    display: flex;
    flex-flow: column nowrap;
  }
</style>
