---
import { Picture } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"recipes">["data"] & { slug: string };

import placeHolderImage from "../images/placeholder.png";

// recipe grid variables
const { slug, title, kingdom, category, publishDate, image } = Astro.props;
const url = `/recipes/${slug}`;
---

<div class="card recipe-preview">
  <a href={url}>
    <Picture
      class={"recipe-preview-picture"}
      src={image ?? placeHolderImage}
      densities={[1, 2]}
      formats={["webp"]}
      fallbackFormat="jpg"
      alt=""
      quality={100}
    />
  </a>
  <div class="recipe-preview-content">
    <a href={url}>{title}</a>
    <p class="classification">{kingdom}{" > "}{category}</p>
    <p class="date">
      {
        publishDate.toLocaleDateString("en-US", {
          month: "short",
          day: "numeric",
          year: "numeric",
        })
      }
    </p>
  </div>
</div>
<style lang="scss">
  a {
    font-size: 1.5rem;
    color: var(--titleTextColor);
    display: block;
    font-family: var(--heroFonts);
  }

  .recipe-preview-picture {
    height: auto;
    width: 100%;
    border: 1px solid var(--textColor);
  }

  .classification {
    margin-bottom: 0.5rem;
    color: var(--textColorLowContrast);
  }

  .description {
    color: var(--subtitleTextColor);
    font-size: large;
    margin-bottom: 1rem;
  }

  .date {
    font-size: small;
    color: var(--accent2Color);
  }

  hr {
    margin: 0 0 1rem;
    height: 0.125rem;
    background-color: var(--accent4Color);
  }

  .recipe-preview-content {
    padding: 1rem;
    border: 1px solid var(--backgroundAccentColor);
    border-top: none;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    // https://stackoverflow.com/a/66087056
    display: block;
  }

  .recipe-preview {
    background: var(--backgroundColor);
    box-shadow: none;
    display: flex;
    flex-flow: column nowrap;
  }
</style>
