---
import { SEO } from "astro-seo";
import type { CollectionEntry } from "astro:content";

import Footer from "@src/components/Footer.astro";
import BaseHead from "@src/components/head/BaseHead.astro";
import Hero from "@src/components/Hero.astro";
import MarkdownContent from "@src/components/mdx/MarkdownContent.astro";
import Navigation from "@src/components/Navigation.astro";

import { contactInfo } from "@src/consts";

// eslint-disable-next-line @typescript-eslint/no-unused-vars
type Props = CollectionEntry<"blog">["data"];

const { title, description, publishDate } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <SEO
      title={`zmsy | ${title}`}
      description={description}
      openGraph={{
        basic: {
          title,
          image: "", // todo: get an image for every blog post
          type: "article", // todo: figure this out
          url: Astro.url.toString(),
        },
        article: {
          publishedTime: publishDate.toISOString(),
        },
      }}
      twitter={{
        title,
        creator: `@${contactInfo.twitterUser}`,
        card: "summary",
      }}
    />
    <style lang="scss">
      @use "../../node_modules/bulma/sass/utilities/mixins.sass" as mixins;
      article {
        margin: 0 auto 8rem;
        max-width: var(--blogPostWidth);

        @include mixins.touch {
          // no max-width on touch
          max-width: unset;
          margin: 0 2rem 8rem;
        }
      }
    </style>
  </head>
  <body>
    <Navigation />
    <main>
      <article>
        <Hero title={title} publishDate={publishDate} titleTextAlign={"left"} />
        <MarkdownContent>
          <slot />
        </MarkdownContent>
      </article>
    </main>
    <Footer />
  </body>
</html>
