---
import { SEO } from "astro-seo";
import type { CollectionEntry } from "astro:content";

import Footer from "@src/components/Footer.astro";
import BaseHead from "@src/components/head/BaseHead.astro";
import Hero from "@src/components/Hero.astro";
import MarkdownContent from "@src/components/mdx/MarkdownContent.astro";
import Navigation from "@src/components/Navigation.astro";
import RecipeCard from "@src/components/RecipeCard.astro";

import { contactInfo } from "@src/consts";

type Props = CollectionEntry<"recipes">["data"];

const { title, description, publishDate } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title,
          image: "", // todo: get an image for every blog post
          type: "article", // todo: figure this out
          url: Astro.url.toString(),
        },
        article: {
          publishedTime: publishDate.toISOString(),
        },
      }}
      twitter={{
        title,
        creator: `@${contactInfo.twitterUser}`,
        card: "summary",
      }}
    />
    <style lang="scss">
      @use "../../node_modules/bulma/sass/utilities/mixins.sass" as mixins;

      article {
        margin: 0 auto 8rem;
        max-width: var(--blogPostWidth);

        @include mixins.touch {
          // no max-width on touch
          max-width: unset;
          margin: 0 0.125rem 8rem;
          padding: 2rem 1.5rem;
        }
      }

      .jump-wrapper {
        display: flex;
        justify-content: center;
        margin: 0 0 1rem;

        &:hover {
          background-color: var(--backgroundAccentColor);
          color: var(--titleTextColor);
        }
      }

      .jump-to-recipe {
        border: 1px solid var(--accent1Color);
        border-radius: 999px;
        padding: 0.25rem 1.75rem;
        color: var(--accent1Color);
        font-variant: all-small-caps;
        font-weight: bold;
        text-decoration: none;
        transition:
          background 0.2s ease,
          color 0.2s ease;
      }
    </style>
  </head>
  <body>
    <Navigation />
    <main>
      <article>
        <Hero
          title={title}
          publishDate={publishDate}
          titleTextAlign={"left"}
          subtitleTextAlign={"left"}
          subtitle={Astro.props.description}
        />
        <div class="jump-wrapper">
          <a class="jump-to-recipe" href="#actual-recipe">Jump To Recipe</a>
        </div>
        <MarkdownContent>
          <!-- Recipe text is rendered here. -->
          <slot />
        </MarkdownContent>
        <RecipeCard {...Astro.props} />
      </article>
    </main>
    <Footer />
  </body>
</html>
