---
import { SEO } from "astro-seo";
import type { CollectionEntry } from "astro:content";

import Footer from "@src/components/Footer.astro";
import BaseHead from "@src/components/head/BaseHead.astro";
import Hero from "@src/components/Hero.astro";
import MarkdownContent from "@src/components/mdx/MarkdownContent.astro";
import Navigation from "@src/components/Navigation.astro";
import RecipeCard from "@src/components/RecipeCard.astro";

import { contactInfo } from "@src/consts";

type Props = CollectionEntry<"recipes">["data"];

const { title, description, publishDate } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title,
          image: "", // todo: get an image for every blog post
          type: "article", // todo: figure this out
          url: Astro.url.toString(),
        },
        article: {
          publishedTime: publishDate.toISOString(),
        },
      }}
      twitter={{
        title,
        creator: `@${contactInfo.twitterUser}`,
        card: "summary",
      }}
    />
    <style lang="scss">
      @use "../../node_modules/bulma/sass/utilities/mixins.sass" as mixins;

      article {
        margin-block: 0;
        margin-inline: auto;
        max-width: var(--blogPostWidth);

        @include mixins.touch {
          // no max-width on touch
          max-width: unset;
        }
      }

      .jump-wrapper {
        display: flex;
        justify-content: center;
        margin: 0 0 1rem;

        &:hover {
          background-color: var(--backgroundAccentColor);
          color: var(--titleTextColor);
        }
      }

      .jump-to-recipe {
        border: 1px solid var(--accent1Color);
        border-radius: 999px;
        padding: 0.25rem 1.75rem;
        color: var(--accent1Color);
        font-variant: all-small-caps;
        font-weight: bold;
        text-decoration: none;
        transition:
          background 0.2s ease,
          color 0.2s ease;
      }

      .hero-container {
        padding: 1rem 0rem 0rem;
        @include mixins.touch {
          padding: 1rem 1.5rem;
        }
      }

      .markdown-container {
        padding: 1rem 0rem;

        @include mixins.touch {
          padding: 1rem 1.5rem 0rem;
        }
      }

      .recipe-container {
        margin: 0 0 2rem;
        @include mixins.touch {
          margin: 0rem 0.75rem 1rem;
        }
      }
    </style>
  </head>
  <body>
    <Navigation />
    <main>
      <article>
        <div class="hero-container">
          <Hero
            title={title}
            publishDate={publishDate}
            titleTextAlign={"left"}
            subtitleTextAlign={"left"}
            subtitle={Astro.props.description}
          />
        </div>
        <div class="jump-wrapper">
          <a class="jump-to-recipe" href="#actual-recipe">Jump To Recipe</a>
        </div>
        <div class="markdown-container">
          <MarkdownContent>
            <!-- Recipe text is rendered here. -->
            <slot />
          </MarkdownContent>
        </div>
        <div class="recipe-container">
          <RecipeCard {...Astro.props} />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
